body{
    background-color: black;
}
*{
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
h1{
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    margin: 5px;
}
input{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: black;
    background-color: white;
    font-weight: 600;
    font-size: 1.1rem;
    border: 4px solid #006466;
    padding: 1rem 1.6rem;
    text-align: center;
    line-height: 1;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgb(21, 32, 54);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    display: inline-block;

}
input:hover{
background-color: #006466;
border: 4px solid white;
color: white;


}

.opt{
    position: absolute;
top: 0%;
right: 0%;
    
    
}
footer{
    position: absolute;
    bottom: 5px;
    left: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    display: flex;
    justify-content:center;
    height: 30px;
width: 98%;
    background-color: rgb(50,50,50);
    border-radius: 20px;
}

a{
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 10px;
}
A:hover{
    text-decoration: underline;
}
.submit1{
    display: flex;
    align-items: center;
    justify-content: center;


}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;

}
html
{
    width: 350px;  /* max: 800px */
    height: 150px; /* max: 600px */

}
#time{  
color:white;
font-size: 13px;
position: absolute;
top:0px;
left:20px;
text-shadow: 2px 2px #006466;
animation: text-focus-in 1s cubic-bezier(0.470, 0, 0.745, 0.715) both;

}
@keyframes text-focus-in {
    0% {
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0);
      opacity: 1;
    }
  }
